@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Open Sans, sans-serif;
  --font-mono: Menlo, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --kanban-board-circle-primary: var(--primary);
  --color-kanban-board-circle-yellow: var(--kanban-board-circle-yellow);
  --color-kanban-board-circle-violet: var(--kanban-board-circle-violet);
  --color-kanban-board-circle-red: var(--kanban-board-circle-red);
  --color-kanban-board-circle-purple: var(--kanban-board-circle-purple);
  --color-kanban-board-circle-pink: var(--kanban-board-circle-pink);
  --color-kanban-board-circle-indigo: var(--kanban-board-circle-indigo);
  --color-kanban-board-circle-green: var(--kanban-board-circle-green);
  --color-kanban-board-circle-gray: var(--kanban-board-circle-gray);
  --color-kanban-board-circle-cyan: var(--kanban-board-circle-cyan);
  --color-kanban-board-circle-blue: var(--kanban-board-circle-blue);
  --font-serif: Georgia, serif;
  --radius: 1.3rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 1.3rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2135 0.0158 244.4904);
  --card: oklch(0.9348 0.0032 197.1016);
  --card-foreground: oklch(0.2135 0.0158 244.4904);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2135 0.0158 244.4904);
  --primary: oklch(0.6542 0.1680 246.8702);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2135 0.0158 244.4904);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.8797 0.0027 286.3438);
  --muted-foreground: oklch(0.2135 0.0158 244.4904);
  --accent: oklch(0.8918 0.0296 252.9564);
  --accent-foreground: oklch(0.6542 0.1680 246.8702);
  --destructive: oklch(0.6101 0.2436 27.1663);
  --border: oklch(0.8894 0.0187 232.5349);
  --input: oklch(0.9367 0.0084 236.5643);
  --ring: oklch(0.6661 0.1646 244.9650);
  --chart-1: oklch(0.6542 0.1680 246.8702);
  --chart-2: oklch(0.6600 0.1480 160.5652);
  --chart-3: oklch(0.8103 0.1635 81.2097);
  --chart-4: oklch(0.6760 0.1741 151.6912);
  --chart-5: oklch(0.5694 0.2133 11.1412);
  --sidebar: oklch(0.9348 0.0032 197.1016);
  --sidebar-foreground: oklch(0.2135 0.0158 244.4904);
  --sidebar-primary: oklch(0.6542 0.1680 246.8702);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8918 0.0296 252.9564);
  --sidebar-accent-foreground: oklch(0.6542 0.1680 246.8702);
  --sidebar-border: oklch(0.8854 0.0162 239.1291);
  --sidebar-ring: oklch(0.6661 0.1646 244.9650);
  --kanban-board-circle-blue: oklch(0.6232 0.1879 259.80);
  --kanban-board-circle-cyan: oklch(0.7146 0.1256 215.13);
  --kanban-board-circle-gray: oklch(0.5513 0.0233 264.36);
  --kanban-board-circle-green: oklch(0.7229 0.1921 149.58);
  --kanban-board-circle-indigo: oklch(0.5860 0.2037 277.12);
  --kanban-board-circle-pink: oklch(0.6559 0.2117 354.34);
  --kanban-board-circle-purple: oklch(0.6267 0.2325 303.86);
  --kanban-board-circle-red: oklch(0.6368 0.2078 25.33);
  --kanban-board-circle-violet: oklch(0.6059 0.2187 292.72);
  --kanban-board-circle-yellow: oklch(0.7959 0.1618 86.05);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --shadow-color: #0e9bf1;
  --shadow-opacity: 0;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.7313 89.0196% 50% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(202.7313 89.0196% 50% / 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(202.7313 89.0196% 50% / 0.00), 0px 1px 2px -1px hsl(202.7313 89.0196% 50% / 0.00);
  --shadow: 0px 2px 0px 0px hsl(202.7313 89.0196% 50% / 0.00), 0px 1px 2px -1px hsl(202.7313 89.0196% 50% / 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(202.7313 89.0196% 50% / 0.00), 0px 2px 4px -1px hsl(202.7313 89.0196% 50% / 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(202.7313 89.0196% 50% / 0.00), 0px 4px 6px -1px hsl(202.7313 89.0196% 50% / 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(202.7313 89.0196% 50% / 0.00), 0px 8px 10px -1px hsl(202.7313 89.0196% 50% / 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.7313 89.0196% 50% / 0.00);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(0.8897 0.0043 236.5037);
  --card: oklch(0.2097 0.0080 274.5332);
  --card-foreground: oklch(0.8853 0 0);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(0.8897 0.0043 236.5037);
  --primary: oklch(0.6497 0.1642 246.2623);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9202 0.0080 216.6270);
  --secondary-foreground: oklch(0.2135 0.0158 244.4904);
  --muted: oklch(0.2090 0 0);
  --muted-foreground: oklch(0.5396 0.0079 247.9742);
  --accent: oklch(0.2184 0.0393 243.5870);
  --accent-foreground: oklch(0.6497 0.1642 246.2623);
  --destructive: oklch(0.6101 0.2436 27.1663);
  --border: oklch(0.2591 0.0048 248.0117);
  --input: oklch(0.2903 0.0269 244.4358);
  --ring: oklch(0.6661 0.1646 244.9650);
  --chart-1: oklch(0.6542 0.1680 246.8702);
  --chart-2: oklch(0.6600 0.1480 160.5652);
  --chart-3: oklch(0.8103 0.1635 81.2097);
  --chart-4: oklch(0.6760 0.1741 151.6912);
  --chart-5: oklch(0.5694 0.2133 11.1412);
  --sidebar: oklch(0.2097 0.0080 274.5332);
  --sidebar-foreground: oklch(0.8853 0 0);
  --sidebar-primary: oklch(0.6661 0.1646 244.9650);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2184 0.0393 243.5870);
  --sidebar-accent-foreground: oklch(0.6497 0.1642 246.2623);
  --sidebar-border: oklch(0.3648 0.0200 239.6975);
  --sidebar-ring: oklch(0.6661 0.1646 244.9650);
  --kanban-board-circle-blue: oklch(0.7135 0.1435 254.61);
  --kanban-board-circle-cyan: oklch(0.7973 0.1339 211.45);
  --kanban-board-circle-gray: oklch(0.7137 0.0192 261.33);
  --kanban-board-circle-green: oklch(0.8003 0.1823 151.70);
  --kanban-board-circle-indigo: oklch(0.6797 0.1586 276.96);
  --kanban-board-circle-pink: oklch(0.7253 0.1752 349.74);
  --kanban-board-circle-purple: oklch(0.7218 0.1766 305.51);
  --kanban-board-circle-red: oklch(0.7108 0.1660 22.21);
  --kanban-board-circle-violet: oklch(0.7093 0.1589 293.52);
  --kanban-board-circle-yellow: oklch(0.8601 0.1730 91.84);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 1.3rem;
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --shadow-color: #0e9bf1;
  --shadow-opacity: 0;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.7313 89.0196% 50% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(202.7313 89.0196% 50% / 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(202.7313 89.0196% 50% / 0.00), 0px 1px 2px -1px hsl(202.7313 89.0196% 50% / 0.00);
  --shadow: 0px 2px 0px 0px hsl(202.7313 89.0196% 50% / 0.00), 0px 1px 2px -1px hsl(202.7313 89.0196% 50% / 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(202.7313 89.0196% 50% / 0.00), 0px 2px 4px -1px hsl(202.7313 89.0196% 50% / 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(202.7313 89.0196% 50% / 0.00), 0px 4px 6px -1px hsl(202.7313 89.0196% 50% / 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(202.7313 89.0196% 50% / 0.00), 0px 8px 10px -1px hsl(202.7313 89.0196% 50% / 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.7313 89.0196% 50% / 0.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  :root {
    --color-kanban-board-circle-blue: var(--kanban-board-circle-blue);
    --color-kanban-board-circle-cyan: var(--kanban-board-circle-cyan);
    --color-kanban-board-circle-gray: var(--kanban-board-circle-gray);
    --color-kanban-board-circle-green: var(--kanban-board-circle-green);
    --color-kanban-board-circle-indigo: var(--kanban-board-circle-indigo);
    --color-kanban-board-circle-pink: var(--kanban-board-circle-pink);
    --color-kanban-board-circle-primary: var(--kanban-board-circle-primary);
    --color-kanban-board-circle-purple: var(--kanban-board-circle-purple);
    --color-kanban-board-circle-red: var(--kanban-board-circle-red);
    --color-kanban-board-circle-violet: var(--kanban-board-circle-violet);
    --color-kanban-board-circle-yellow: var(--kanban-board-circle-yellow);
  }
}

/* Hide default password reveal button in Edge/Internet Explorer */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}